<div>
    <div class="panel panel-primary">
        <div class="panel-heading">Angular Experience</div>
        <div class="panel-body">
            <p>Upon joining GoHealth LLC in 2013, I started learning and gaining familiarity with the angular javascript framework in order to support and further develop their front end client. This included usage of the angular ui router (this page uses the angular router, a separate library that essentially performs the same task), and learning to test javascript.</p>
            <p>Since learning the angular.js framework, I have used it for multiple personal and professional projects, and have gained a certain command over the framework.</p>
            <p>Additional libraries and front end frameworks demonstrated in this app, that I have some experience with are:<ul>
                <li>Bootstrap</li>
                <li>Angular Animation</li>
                <li>Angular Router</li>
            </ul></p>
            <p>Bootstrap and the Angular Animation library provide for the look and feel of the application, while the angular router allows the user to switch pages without reloading the entire app, which, given the size of the scripts necessary for a modern app, could be very costly.</p>
        </div>
    </div>
</div>