<div>
    <div class="panel panel-primary">
        <div class="panel-heading">Java Experience</div>
        <div class="panel-body">
            <p>My experience with Java began in 2006 at McQuaid Jesuit in an intro to computer science class. I used it the rest of highschool and college for schoolwork and personal projects.</p>
            <p>In 2012, I started using Java professionally as an applications administrator at Illinois Institute of Technology maintaining some of their in-house applications.</p>
            <p>At my current position in GoHealth, I have gained experience using Spring, Hibernate, and JUnit to maintain, extend, and test a RESTful api. This api creates JSON data which is consumed by a single page web application developed in javascript using the angular.js MVC framework.</p>
        </div>
    </div>
</div>